.socials {
    color: green;
}

.element {
    width: 120px;
    height: 120px;
    font-size: 50px;
    color: red;
    background-color: lime;
    border: 1px solid #000;
}

.head {
    background-color: yellow;
}

.block li {
    font-size: 23px;
}

.menu {
    font-size: 12px;
    text-decoration: none;
}

p {
    font-size: 16px;
    color: blueviolet;
}

.about {
    padding: 20px 0;
    background-color: #2ff;
    font-size: 20px;
}