.socials {
    color: greenyellow;
}

.top_block {
    background-color: lime;
}

.block li {
    font-size: 13px;
}

.top_menu {
    font-size: 27px;
    text-decoration: underline;
}

p {
    font-size: 15px;
    color: blueviolet;
}