* {
   margin: 0;
   box-sizing: border-box;
}

ul {
   list-style: none;
}

body {
   cursor: url(../images/cursor.cur), default;
}

a {
   cursor: url(../images/cursor_p.cur), pointer;
}

.flex {
   display: flex;
   width: 550px;
   height: 250px;
   color: #a12afd;
   background-color: #afdafd;
   border: 3px solid red;
   column-gap: 20px;
}

.media {
   display: flex;
   justify-content: center;
}

.bg {
   height: 20px;
   width: 100px;
   background-color: blue;
   border: 3px solid red;
}

.parent {
   width: 200px;
   height: 200px;
   border: 1px solid #000;
   background-color: orange;
}

ul {
   padding: 0;
   list-style: none;
}

.parent p {
   min-width: 300px;
}

p {
   background-color: lightsteelblue;
   margin: 20px 10px;
}

body div p {
   margin: 30px 0;
}

.test p {
   margin: 0 8px;
}

div .par {
   margin: 15px;
}

#paragr {
   margin: 14px 0;
}

#par {
   margin: 42px;
}

.Button {
   padding: 20px;
   text-decoration: none;
   background-color: lightblue;
   border: 1px solid #000;
}

#pa {
   margin: 20px;
}

.flx {
   display: flex;
   justify-content: center;
}